<phpunit colors="true" bootstrap="test_bootstrap.php">
	<filter addUncoveredFilesFromWhitelist="true">
	  	<whitelist>
			<directory suffix=".php">./classes/kohana/</directory>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-html" target="cache/coverage" charset="UTF-8"
		       yui="true" highlight="true"
		       lowUpperBound="35" highLowerBound="70"/>
	</logging>

	<testsuites>
		<testsuite name="Kohana Tests">
			<file>tests.php</file>
		</testsuite>
	</testsuites>
</phpunit>
